<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Document</title>
</head>
<body>

    <main id="form-section">
        <h2>Enter Your Details</h2>
        <form action="" id="resume-form">
            <fieldset>
                <legend>Personal Information</legend>
                <input type="text" id="name-input" placeholder="Name">
                <input type="text" id="professional-title" placeholder="Professional Title">
                <input type="email" id="email" placeholder="Email">
                <input type="text" id="phone" placeholder="Phone">
                <input type="text" id="location" placeholder="location">
            </fieldset>
        </form>
    </main>
    <aside id="preview-section">
        <div class="resume-papper">
            <h1 id="preview-name">your name</h1>
        </div>
    </aside>
    
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
</body>
</html>